<div class="content devroye", id="home_page_contents">
  <!-- Start: slider -->
  <div class="item">
  <div class="hero-unit">
    <div class="page-header">
      <h2><i class="icon-user"></i> About Me</h2>
    </div>
    <h3>Approach</h3>
    <p>My work approach draws on my background in design, my love of Ruby on Rails, and the art of software craftsmanship.</p>

    <h3>Agile</h3>
    <p>I follow Agile principles, making customers happy through the early and continuous delivery of software. I anticipate and welcome changing requirements. I send email or chat with client every day and when working with a team, have daily stand-ups and code reviews.
    </p>

    <h3>Coding</h3>
    <p>I'm a full stack developer my focus is on Ruby on Rails applications. On the front end I’m working with CoffeeScript, jQuery, Haml, Sass, and Twitter Bootstrap. I prefer using a grid. I drive out user stories using Behavior Driven Development and Test Driven Development and tools like Rspec, Cucumber, and Capybara to write features that describe application behavior, which helps documentation and removes tedious QA.</p>

    <h3>Design</h3>
    <p>Websites are about information. My goal as designer is to navigate the user around that information with the right precedence by thinking about what a user will do on every page with clarity and consistency. Consistency means bringing a graphical continuity to every page through fonts, color palettes, headers and layout. I do this using Photoshop, CSS, HTML, and Javascript.</p>
  </div>
</div>
</div>