<div class="content devroye", id="home_page_contents">
  <!-- Start: slider -->
  <div class="item">
  <div class="hero-unit">
    <div class="row-fluid">
      <div class="span4">
        <img class="thumbnail" src="assets/manish-profile.jpg">
        <div class="">
          <center><h4>Manish Jain <br> 
            Ruby On Rails developer</h4>
            <hr>
            <p>
              <i class="icon-signal"></i> (+91) 97853-94039<br>
              <i class="icon-skype"></i> skype id : manijain333<br>
              <i class="icon-envelope"></i> <a href="mailto:manijain333@gmail.com">manijain333@gmail.com </a><br>
            </p>
          </center>
        </div>
      </div>
      <div class="span8 marketting-info">
        <h2><i class="icon-briefcase"></i> Hello World! <br> Let Me Introduce MySelf</h2>
        <p>
          Hi Friends,

          I'm Manish Jain and I’m a Ruby on Rails software developer in Jaipur, Rajasthan(India), and I’ve built websites. I work on Ruby on Rails since 2011.<br><br>

          Most of my work is done in Ruby, Rails, Html and Others. I'm a passionate for Ruby on Rails It's unbeatable when it comes to rapid web application development. Much of the code in Ruby reads like regular English so it's intuitive and brings a certain ease of use - pretty ironic since Ruby originated in Japan. Ruby on Rails has a great flow, delivers fast, clean results, and lets me write beautiful code easily. It works exceptionally well with an Agile approach to software development.<br><br>

          I take a prgamatic approach to software development focus on what needs to be done how, and write good, well tested code that can adapt to changing demands in the future. I love the process of taking a client's ideas and turning them into something that doesn't just work, but works well. 
        </p>
      </div>
    </div>              
  </div>
  </div>

<!--   <div class="slider">
    <div class="container-fluid">
      <div class="carousel slide" id="heroSlider">
        <div class="carousel-inner">
          <div class="item">
            <div class="hero-unit">
              <div class="row-fluid">
                <div class="span3">
                  <img class="thumbnail" src="assets/placeholder.jpg">
                </div>
                <div class="span9 marketting-info">
                  <h2>Add more achievement</h2>
                  <p> will soon add more inforamtion about my achivement. will soon add more inforamtion about my achivement. will soon add more inforamtion about my achivement.
                  </p>
                  <h3>
                    <a class="btn pull-right" href="about.html">Learn more</a>
                  </h3>                
                </div>
              </div>          
            </div>
          </div>
          <div class="item active left">
            <div class="hero-unit">
              <div class="row-fluid">
                <div class="span3">
                  <img class="thumbnail" src="assets/placeholder.jpg">
                </div>
                <div class="span9 marketting-info">
                  <h2>Add more achievement</h2>
                  <p>
                    will soon add more inforamtion about my achivement. will soon add more inforamtion about my achivement. will soon add more inforamtion about my achivement. 
                  </p>
                  <h3>
                    <a class="btn pull-right" href="service.html">Learn more</a>
                  </h3>                      
                </div>
              </div>                  
            </div>
          </div>
          <div class="item next left">
            <div class="hero-unit">
              <div class="row-fluid">
                <div class="span3">
                  <img class="thumbnail" src="assets/manish-profile.jpg">
                  <div class="">
                    <h4>Manish Jain <br> 
                      Ruby On Rails developer</h4><br>
                  </div>
                </div>
                <div class="span9 marketting-info">
                  <h2><i class="icon-briefcase"></i> Hello World! <br> Let Me Introduce MySelf</h2>
                  <p>
                    Hi Friends,

                    I'm Manish Jain and I’m a Ruby on Rails software developer in Jaipur, Rajasthan(India), and I’ve built websites. I work on Ruby on Rails since 2011.

                    Most of my work is done in Ruby, Rails, Html and Others. I'm a passionate for Ruby on Rails It's unbeatable when it comes to rapid web application development. Much of the code in Ruby reads like regular English so it's intuitive and brings a certain ease of use - pretty ironic since Ruby originated in Japan. Ruby on Rails has a great flow, delivers fast, clean results, and lets me write beautiful code easily. It works exceptionally well with an Agile approach to software development.
                  </p>
                  <h3>
                    <a class="btn pull-right" href="product.html">Learn more</a>
                  </h3>
                </div>

              </div>                  
            </div>
          </div>
          <div class="item">
            <div class="hero-unit">
              <div class="row-fluid">
                <div class="span7 marketting-info">
                  <h2>Add more achievement</h2>
                  <p>
                    will soon add more inforamtion about my achivement. will soon add more inforamtion about my achivement. will soon add more inforamtion about my achivement.
                  </p>
                  <h3>
                    <a class="btn pull-right" href="product.html">Learn more</a>
                  </h3>                      
                </div>
                <div class="span5">
                  <img class="thumbnail" src="assets/placeholder.jpg">
                </div>
              </div>                  
            </div>
          </div>
        </div>
        <a data-slide="prev" href="#heroSlider" class="left carousel-control">‹</a>
        <a data-slide="next" href="#heroSlider" class="right carousel-control">›</a>
      </div>
    </div>
  </div> -->
  <!-- End: slider -->
  <!-- Start: PRODUCT LIST -->
<!--     <div class="container">
      <div class="page-header">
        <h2>My Projects</h2>
      </div>
      <div class="row-fluid">
        <ul class="thumbnails">
          <li class="span4">
            <div class="thumbnail">
             <img alt="product name" src="assets/placeholder-360x200.jpg">
              <div class="caption">
                <h3>Project name</h3>
                <p>
                  All details about my project. All details about my project.
                  All details about my project. All details about my project.
                  All details about my project. All details about my project.
                </p>
              </div>
              <div class="widget-footer">
                <p>
                  <a class="btn btn-primary pull-right" href="#">Read more</a>&nbsp
                </p>
              </div>
            </div>
          </li>
          <li class="span4">
            <div class="thumbnail">
             <img alt="product name" src="assets/placeholder-360x200.jpg">
              <div class="caption">
                <h3>Project name</h3>
                <p>
                  All details about my project. All details about my project.
                  All details about my project. All details about my project.
                  All details about my project. All details about my project.
                </p>
              </div>
              <div class="widget-footer">
                <p>
                  <a class="btn btn-primary pull-right" href="#">Read more</a>&nbsp
                </p>
              </div>
            </div>
          </li>
          <li class="span4">
            <div class="thumbnail">
              <img alt="product name" src="assets/placeholder-360x200.jpg">
              <div class="caption">
                <h3>Project name</h3>
                <p>
                  All details about my project. All details about my project.
                  All details about my project. All details about my project.
                  All details about my project. All details about my project.
                </p>
              </div>
              <div class="widget-footer">
                <p>
                  <a class="btn btn-primary pull-right" href="#">Read more</a>&nbsp
                </p>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div> -->
  <!-- End: PRODUCT LIST -->
</div>
