<div class="content devroye", id="home_page_contents">
  <!-- Start: slider -->
  <div class="item">
    <div class="hero-unit">
      <div class="page-header">
        <h2><i class="icon-briefcase"></i> Portfolio</h2>
      </div>
      <h3> In-progress </h3>
    </div>
  </div>
</div>