<div class="content devroye", id="home_page_contents">
  <!-- Start: slider -->
  <div class="item">
    <div class="hero-unit">
      <div class="page-header">
        <h2><i class="icon-briefcase"></i> Resume</h2>
      </div>
      <div class="rblock">
        <div class="row">
          <div class="span2"><h4>About Me</h4></div>
          <div class="span9">
            <div class="rinfo">
              <h4>Jain Manish</h4>
              <div class="rmeta">Ruby On Rails Developer</div>
              <p class="description_long">I am a Ruby On Rails developer with over 2 years of experience, working in distributed agile development environments from around the world.I have, as Lead Developer, built software using Ruby on Rails as part of teams using methodologies like SCRUM Or AGILE. I have good experience working with Web Startups and Small &amp; Medium Businesses. I bring with me detail oriented experience in managing development of Database Driven Scalable Web Applications from start to finish.

              As a Developer,I strongly appreciate clean, well-structured, communicative code. I am looking for challenging web projects where I can apply my skills and bring value to your business. I'm a motivated developer who can take see your project through from the design phase to completion.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="rblock">
        <div class="row">
          <div class="span3"><h4>Education</h4></div>
          <div class="span8">
            <div class="rinfo st-edu">
              <h4>Master of Computer Application (Software Engineering In Ruby On Rails) </h4>
              <div class="rmeta">Jaipur, Rajasthan ( India )</div>
              <p></p>
            </div>
          </div>
        </div>
      </div>
      <div class="rblock">
          <div class="row">
            <div class="span2"><h4>Experience</h4></div>
            <div class="span9">
                <div class="rinfo">
                  <h5>Previous : Risingsun Technology Private Limited</h5>
                  <h4>OnGraph Technology Private Limited</h4>
                  <h5>
                    April/2013 &nbsp; to &nbsp;
                      till date
                  </h5>
                  <div class="rmeta">Ruby on Rails Developer</div>
                  <p>I am software engineer in OnGraph Technology Pvt. Ltd. I like my job because I learn lots of things during my job. When I join this company I don't know more knowledge about ruby on rails but today I'm Software Engineer in ruby on rails in this company.</p>
                </div>
            </div>
          </div>
      </div>
      <div class="rblock">
        <div class="row">
          <div class="span3"><h4>Skills</h4></div>
          <div class="span8">
            <div class="rinfo st-edu">
              <p>Ruby on Rails, Cucumber, Rspec, MySQL, JavaScript, jQuery, Ajax, CSS, HTML, Heroku</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>  