<div class="content devroye", id="home_page_contents">
  <!-- Start: slider -->
  <div class="item">
    <div class="hero-unit">
      <div class="page-header">
        <h2><i class="icon-star"></i> My Skill</h2>
      </div>
      <h3>My skills are describe below and drived from my training and my personal and professional experiences.</h3>
      <div class="page-header">
      </div>
      <p>My Ruby on Rails knowledge and related with other skills are following.</p><br>
      <ul>
        <li><p> Rails 3.x / Rails 4.x</p></li>
        <li><p> Ruby 1.9.x / Ruby 2.x </p></li>
        <li><p> MySQL / Sqlite / PostgreSQL</p></li>
        <li><p> JavaScript / JQuery</p></li>
        <li><p> HTML / HAML</p></li>
        <li><p> CSS / Responsive Layouts</p></li>
        <li><p> Twitter Bootstrap</p></li>
        <li><p> Heroku Deployment / Heroku Environment</p></li>
        <li><p> RSpec / Cucumber</p></li>
        <li><p> Search Engine like Solr</p></li>
        <li><p> rmagick / FlatUI</p></li>
      </ul>
    </div>
  </div>
</div>